<h1>Categories</h1>
<%= link_to 'New Category', new_cafe_admin_category_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Show', cafe_admin_category_path(@cafe, category) %></td>
      <td><%= link_to 'Edit', edit_cafe_admin_category_path(@cafe, category) %></td>
      <td>
        <%= form_with model: [@cafe, :admin, category], method: :delete, local: true do %>
          <%= submit_tag 'Destroy', data: { confirm: 'Are you sure you want to delete this menu?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back to Dashboard', cafe_admin_dashboard_path %>
