<h1><%= @menu.name %></h1>
<p><%= @menu.description %></p>
<p>Price: <%= number_to_currency(@menu.price) %></p>
<p>Availability: <%= @menu.availability ? 'Available' : 'Not Available' %></p>
<% if @menu.image_url.present? %>
  <p><img src="<%= @menu.image_url %>" alt="<%= @menu.name %>" style="max-width: 300px; max-height: 300px;"></p>
<% else %>
  <p>No image available</p>
<% end %>

<%= link_to 'Edit', edit_admin_menu_path(@menu) %> |
<%= link_to 'Back', admin_menus_path %>
